# Rust
/target/
/**/target/
contracts/target/
contracts/build/
build/
**/*.rlib
**/*.so
/Cargo.lock
contracts/Cargo.lock

# Node / TypeScript
/node_modules/
agent/node_modules/
npm-debug.log*
yarn-error.log*
/dist/
/lib/
/*.tsbuildinfo
/*.js.map
/**/*.d.ts

# IDEs & editors
/.vscode/
/.idea/
/*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# other artifacts
*.log
*.env